.list {
    list-style: none;
    margin: 0;
    padding: 0;
  
    &--header{
      position: fixed;
      top: 4rem;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--secondary-theme-color);
      transform: translateX(var(--translate-list-header ));
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.25s;
    }

    &__link {
      display: flex;
      background-color: var(--secondary-theme-color);
      border-radius: var(--primary-border-radius);
      color: var(--primary-text-color);
      font-weight: 600;
      text-decoration: none;
      padding: 0.25em 1em;
      transition: background-color 0.25s, color 0.25s;
  
      &:hover {
        background-color: var(--primary-highlight-color);
        color: var(--reverse-primary-text-color);
      }
    }
  }