.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hero__name {
    font-size: 4rem;
    text-decoration: none;
}

.hero__letter{
    position: relative;
}

.hero__letter::after{
    position: absolute;
    content: var(--letter);
    left: 0;
    top: 100%;
    filter: blur(0.0625rem);
    transform: rotateX(137.5deg)
}

.hero__letter::before{
    content: var(--letter);
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(0.25rem);
    transform: scale(1.125);
}

.hero__letter:nth-child(1) {
    color: red;
}

.hero__letter:nth-child(2) {
    color: blue;
}

.hero__letter:nth-child(3) {
    color: orange;
}

.hero__letter:nth-child(4) {
    color: purple;
}

.hero__letter:nth-child(5) {
    color: green;
}

.hero__letter:nth-child(6) {
    color: #00bef8;
}

.hero__letter:nth-child(7) {
    color: yellow;
}
