:root {
  scroll-behavior: smooth;
  --primary-theme-color: rgb(56, 218, 199);
  --secondary-theme-color: #20232a;
  --primary-text-color: #fff;
  --primary-highlight-color: #61dafb;
  --letter-color-1: #00bef8;
  --letter-color-2: #ff0697;
  --letter-color-3: #ff4d00;
  --letter-color-4: #ffe600;
  --letter-color-5: #bb00ff;
  --letter-color-6: #f5926b;
  --letter-color-7: #74f56b;
  --primary-font-family: serif;
  --max-width-container: 1024px;
  --padding-section: 1.5rem;
  --padding-container: 1rem;
  --primary-border-radius: 0.5rem;
}
