.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  
    &--hero {
      padding-left: calc(var(--container-padding) * 2.5);
      padding-right: calc(var(--container-padding) * 2.5);
      width: 100%;
    }
  }