.select {
    background-color: var(--primary-theme-color);
    
    &--theme{
        border-radius: 4px;
        text-align: center;
        appearance: none;
        width: 32px;
        height: 32px;
    }
}