.nav {
    --padding-nav: 1.5rem;
    padding-top: var(--padding-nav);
    padding-bottom: var(--padding-nav);
  
    &__logo {
      display: block;
      background-color: var(--secondary-theme-color);
      box-shadow: 0 0 0.125rem 0 var(--primary-highlight-color);
      border-radius: 50%;
      width: 32px;
      height: 32px;
      object-fit: cover;
    }
  }