.nav {
    --translate-list-header: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  
  .nav:target {
    --translate-list-header: 0;
  }
  
  .nav__logo {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }