:root {
    --primary-theme-color: #20232a;
    --primary-shadow-color: #20232abf;
    --secondary-shadow-color: #282c34bf;
    --primary-text-color: #fff;
    --primary-highlight-color: #61dafb;
    --primary-font-family: monospace;
  }
.body {
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0;
}

.hero{
    /* background-image: url(https://i.postimg.cc/7PJV8Dp8/react-01-01-wpo.webp); */
    background-image: url('/img/background.png');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 400px;
    display: flex;
    flex-direction:  column;
    border: 0.125rem solid var(--primary-highlight-color);
    border-radius: 1rem;
    overflow: hidden;
    margin: auto;
}

.menu{
    display: flex;
}

.card__header{
    background-color: var(--primary-shadow-color);
    text-align: center;
    padding: 1rem;
}

.card__img{
    background-color: var(--primary-theme-color);
    border-radius: 50%;
    width: min(100%, 256px);
    /* height: min(100%, 256px); */
    object-fit: cover;
}

.card__body{
    background-color: var(--secondary-shadow-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.card__title {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}
.card__subtitle {
    margin: 0;
    text-align: center;
    font-size: 1rem;
}
.card__text {
    margin: 0;
    font-size: 1rem;
    text-align: center;
}